/*tipos de texto*/
.texto_1{font-size:x-large;
    font-family: 'Berkshire Swash', cursive;}
.texto_2{font-size: large;
    font-family: 'Righteous', cursive;}
.clearfix{font-size: x-large;
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;}
.texto_memoria{
    font-family: 'Staatliches', cursive;
    text-align: justify;
    font-size: large;
    padding-top: 70px;
}
.texto_velha{
    font-family: 'Staatliches', cursive;
    text-align: justify;
    font-size: large;
    padding-top: 70px;
}
    

/*imagens tabela*/
.tabela4{padding-top: 25px;}

/*rodapé*/
.rodape {
    background-color: #808080;
}
header {
	background: #808080;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 1700px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}




/*teste
nav ul{
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
}
nav ul li {
            text-align: center;
            width: 100%;
}
nav ul li a {
            display: inline-block;
            padding: 10px 0;
            width: 100%;
            text-decoration: none;
}

header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        padding: 20px;  
        background-color: rgba(143, 112, 112, 0.945);  
}
header p{
        margin-bottom: 2em;
}

@media only screen and (max-device-width: 900px) {
     .menu { width:100%; } 
    }
@media only screen and (max-device-width: 900px) {
     .menu { width:600px; }
    }
@media only screen and (max-device-width: 700px) {
      .menu { width:400px; } 
     }
     */