*{
	margin: 10;
	padding: 10;
}
body{
	background-color: rgb(143, 143, 143);
}
.body2{
	text-align: center;
	padding: 200px;
}
.texto{
	font-size:40px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}
#game{
	position: relative;
	width: 1335px;
	height: 510px;
	border: 5px solid rgb(41, 41, 41);
	border-radius: 10px;
	margin: 10px auto;
	background-color: #050505;
}
			
.card{
	width: 160px;
	height: 240px;
	perspective: 600px;
	position: absolute;
	border-radius: 10px;
}

.face{
	border-radius: 10px;
	width: 100%;
	height: 100%;
	position: absolute;
	transition: all 1s;
	backface-visibility: hidden;
}

.front{
	transform: rotateY(-180deg);
}

.flipped.front{
	transform: rotateY(0deg);
}

.back{
	background: url(../img/verso3.jpg);
}

.flipped.back{
	transform: rotateY(180deg);
}

.card:hover, .face.flipped{
	box-shadow: 0 0 10px #aaa;
}

.face.flipped.match{
	box-shadow: 0 0 10px #0f0;
}

#match{
	position: relative;
	margin: 0 auto;
	top: 250px;
	z-index: -1;
	opacity: 1;
	transition-property: top, opacity;
	transition-duration: 1.5s;
}

#gameOver{
	position: absolute;
	top: 0;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: -2;
}

#imgGameOver{
	margin-top: 100px;
}

/*cabeçalho*/
header {
	background: #a201ff;
	padding: 20px 0;
    font-family: 'Bebas Neue', cursive;
}

.caixa {
	position: relative;
	width: 1700px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 36px;
	text-decoration: none;
}

nav a:hover {
	color: #d8a42b;
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}
/*fim cabeçalho*/

/*rodapé*/
.rodape {
	padding: 10;
    background-color: #a201ff;
    text-transform: uppercase;
               color: #d8a42b;
		
}