@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");


body{font-family: "Open Sans";
  background-color: rgb(143, 143, 143);
}
.texto{
	font-size:40px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.body2 {
  margin: 0;
  padding: 200px;
  
}

h2,
h3 {
  margin-top: 0px;
  text-align: center;
}



#tela-escura span {
  color: gold;
}

.container {
  padding: 30px;
  margin: 0 auto;
  max-width: 240px;
  border-radius: 10px;
  background-color: rgb(107, 54, 4);
  border: 5px solid black;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  
}

.celula {
  width: 75px;
  height: 65px;
  font-size: 30pt;
  margin: 4px 2px;
  font-weight: 300;
  padding-top: 10px;
  border-radius: 3px;
  text-align: center;
  background-color: rgb(39, 61, 156);
}
/*cabeçalho*/
header {
	background: #a201ff;
	padding: 20px 0;
    font-family: 'Bebas Neue', cursive;
}

.caixa {
	position: relative;
	width: 1700px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 36px;
	text-decoration: none;
}

nav a:hover {
	color: #d8a42b;
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}
/*fim cabeçalho*/


@media screen and (max-width: 400px) {
  .container {
    max-width: 300px;
  }
}

@media screen and (min-width: 401px) and (max-width: 1024px) {
  .container {
    max-width: 400px;
  }
  .celula {
    margin: 13px 20px;
  }
}
